.interest-links {
    display: flex;

}

.interest--img > img {
    height: 50px;
    width: 50px;
}

.flex {
    display: flex;
}

.flex-apart {
    display: flex;
    justify-content: space-between;
}