.masthead{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "header1 header2 header3"
    "body1   body2  body3"
    "footer1 footer2 footer3" ;
}

.masthead__menu-and-search{
    grid-area: header1 ;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.masthead__actions{
    grid-area: header3;
}
.masthead__technologies{
    grid-area: body2;
}
.masthead__date{
    grid-area: footer1;
}
.masthead__logo{
    grid-area: footer2;
}
.masthead__paper{
    grid-area: footer3;
}

.masthead__menu--icons {
    font-size: 11px;
    padding: 7px 9px;

}

.masthead__menu--icons:hover {
  background-color: #f7f7f5;
    
}